<ion-header>
 
  <ion-title>
    <h2>Image Gallery</h2>
  </ion-title>

</ion-header>

<ion-content class="card=background-page">

<ion-card>
  <img src="assets/a.jpg"/>
</ion-card>

<ion-card>
  <img src="assets/b.jpg"/>
</ion-card>

<ion-card>
  <img src="assets/c.jpg"/>
</ion-card>

<ion-card>
  <img src="assets/d.jpg"/>
</ion-card>

<ion-card>
  <img src="assets/e.jpg"/>
</ion-card>

<ion-card>
  <img src="assets/f.jpg"/>
</ion-card>

<ion-card>
  <img src="assets/g.jpg"/>
</ion-card>

<ion-card>
  <img src="assets/h.jpg"/>
</ion-card>

<ion-card>
  <img src="assets/i.jpg"/>
</ion-card>

<ion-card>
  <img src="assets/j.jpg"/>
</ion-card>

<ion-card>
  <img src="assets/k.jpg"/>
</ion-card>

<ion-card>
  <img src="assets/l.jpg"/>
</ion-card>

<ion-card>
  <img src="assets/m.jpg"/>
</ion-card>

<ion-card>
  <img src="assets/n.jpg"/>
</ion-card>

<ion-card>
  <img src="assets/o.jpg"/>
</ion-card>

</ion-content>
