<ion-header>
  <ion-toolbar color="danger">
  <ion-title>
    <h2>My Profile</h2>
  </ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <img src="assets/k.jpg"/>
  <div class="card-title"><h1>Jomel C. Dacutanan</h1></div>
</ion-card>

<ion-list>
  <ion-item>
    <ion-icon name="book" slot="start"></ion-icon>
    <ion-label><h4>Studied Bachelor of Science in Information Tachnology at Eastern Visayas State University-EVSU CC</h4></ion-label>
  </ion-item>
</ion-list>

<ion-list>
  <ion-item>
    <ion-icon name="home" slot="start"></ion-icon>
    <ion-label>From Eastern Visayas</ion-label>
  </ion-item>
</ion-list>

<ion-list>
  <ion-item>
    <ion-icon name="location" slot="start"></ion-icon>
    <ion-label>Tunga Leyte</ion-label>
  </ion-item>
</ion-list>

<ion-list>
  <ion-item>
    <ion-icon name="heart" slot="start"></ion-icon>
    <ion-label>Single</ion-label>
  </ion-item>
</ion-list>

</ion-content>
